
@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome, firefox */ url('static/font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('static/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

html {
    width: 1920px;
    height: 1080px;
    margin: auto;
    background: -webkit-linear-gradient(#4259AF, #1D2754); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#4259AF, #1D2754); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#4259AF, #1D2754); /* Firefox 3.6 - 15 */
    background: linear-gradient(#4259AF, #1D2754); /* 标准的语法 */
}

.btn {
    width: 100px;
    position: relative;

}

.btn, .btn-border-o:before, .btn-border-o:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

.btn-border-o:before, .btn-border-o:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box;
}

.btn-border-o:before {
    width: 0;
    height: 100%;
    border-width: 2px 0 2px 0;
    top: -1px;
    left: 0;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.btn-border-o:after {
    width: 100%;
    height: 0;
    border-width: 0 2px 0 2px;
    top: 0;
    left: -1px;
}

.btn-border-o:hover:before {
    width: 100%;
}

.btn-border-o:hover:after {
    height: 100%;
}

.btn-border-o:before, .btn-border-o:after {

    border-color: #888CF8;
}

body {

    width: 1920px;
    height: 1080px;
    margin: auto;
}

#main {
    width: 96%;
    height: 96%;
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

#main > div {
    width: 100%;


}

#footer {
    width: 100%;
    height: 5%;
    margin-top: 2%;
    text-align: center;
}
#page {
    animation: Arrow 2s linear 2s infinite alternate;
    font-size: 1.2em;
    color: #A3AEDC;
    cursor: pointer;
}
@keyframes Arrow {
    0% {
        transform: scale(1);
        color: #A3AEDC;
        font-size: 0.9em;
    }
    100% {
        transform: scale(1.1);
        color: white;
        font-size: 1.4em;

    }
}


#footer > div {
    width: 5%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #8B96B2;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1.5em;
}

#content_item:hover {
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 15px #2196F3;
}
