<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>框架学习</title>
    <link rel="stylesheet" href="__CSS__/bootstrap.css"/>
     <link rel="stylesheet" href="__JS__/layui/css/layui.css"/>
    <script type="text/javascript" src="__JS__/vue.min.js"></script>
    <script type="text/javascript" src="__JS__/layui/layui.all.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
    <style>
        html{
            width: 1920px;
            height: 1080px;
            zoom: 0.667;

        }
        body{
            width: 1920px;
            height: 1080px;
            border: 1px solid blue;
        }

    </style>

</head>

<body>